@page "/videos"
@inject HttpClient Http

@if (!string.IsNullOrEmpty(username))
{
    <div style="width: 100%; text-align: right">
        <a href="/.auth/logout">Click here to log out @username.</a>
    </div>
}

<h1>Our videos</h1>

@if (videos == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Title</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var video in videos)
            {
                <tr>
                    <td>Betatalks #@video.Name</td>
                    <td><a href="@video.Url" target="_blank">@video.Title</a></td>
                    <td>@((MarkupString)video.Description)</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Video[] videos;
    private string username; 

    protected override async Task OnInitializedAsync()
    {
        videos = await Http.GetFromJsonAsync<Video[]>("api/videos/betatalks");
        username = await GetUsername();
    }

    private async Task<string> GetUsername() 
    {
        var response = await Http.GetFromJsonAsync<UserInfo>("/.auth/me");

        return response.clientPrincipal.userDetails;
    }

    public class UserInfo
    {
        public ClientPrincipal clientPrincipal { get; set; }
    }

    public class ClientPrincipal
    {
        public string identityProvider{get;set;}
        public string userId{get;set;}
        public string userDetails{get;set;}
        public string[] userRoles {get;set;}
    }
}